#cotizaciones {
	width: 80%;
	margin: 40px auto;
	text-align: center;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
	position: relative;
  }
  
  #cotizaciones p {
	font-size: 18px;
	font-weight: bold;
	color: #333;
	margin-bottom: 35px;
  }
  
  
  
  #cotizaciones {
	margin-top: 20px;
  }